.main-page {
  min-height: 100vh;
  min-width: 310px;
  background-image: url('../img/main-background.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.main-page__content {
  min-height: inherit;
  min-width: inherit;
  padding: 0 5%;
  max-width: 1100px;
  margin: 0 auto;
  @include r(phone-max) {
    padding: 0;
  }
  h1 {
    font-family: 'Raleway-Black';
    font-size: 4.8rem;
    color: $green;
    text-transform: uppercase;
    text-align: center;
  }
  a:hover {
    text-decoration: none;
  }
}

.main-page__header {
  padding: 60px 0;
}

.main-page__header.designers {
  margin: 10% 0 -120px 0;
  padding: 0;
  @include r(large-screen-min) {
    margin-bottom: -15%;
  }
  @include r(tablet-max) {
    margin-bottom: -90px;
  }
  @include r(phone-max) {
    margin: 10% 0 0 0;
  }
}

.t-shirts__container {
  padding-bottom: 40px;
}

.t-shirts__piece-container {
  position: relative;
  .t-shirts__piece {
    width: 350px;
    padding: 20px;
  }
  .t-shirts__design {
    position: absolute;
    width: 42%;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.zoom-icon {
  position: absolute;
  top: -295px;
  right: -60px;
  @include r(phone-max) {
    top: -245px;
  }
}

.t-shirts__button {
  display: none;
  position: absolute;
  top: 328px;
  left: 119px;
  @include r(phone-max) {
    top: 65%;
    left: 35%;
  }
  span {
    font-family: 'Raleway-Black';
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
    background: $green;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.t-shirts__button.active {
  display: block;
}

.hr {
  width: 145px;
  background: $green;
  display: block;
  height: 2px;
  border: 0;
  margin: 10px 0 0 0;
}

.t-shirts__copy {
  h2 {
    font-family: 'Raleway-Medium';
    font-size: 2rem;
    color: white;
    margin: 3px 0 0 0;
  }
  p {
    font-family: 'Raleway-Light';
    font-size: 1.2rem;
    color: #888888;
    margin: 0;
    text-align: center;
  }
}

.designers__container {
  @include r(phone-max) {
    flex-wrap: wrap;
  }
  h3 {
    font-family: 'Raleway-Thin';
    font-size: 4rem;
    color: #e6e6e6;
    line-height: 35px;
  }
  p {
    font-family: 'Raleway-Light';
    font-size: 1.3rem;
    color: #e6e6e6;
  }
  .hr {
    width: 50px;
    height: 1px;
  }
  img {
    min-width: 170px;
    @include r(phone-max) {
      max-width: 120px;
      min-width: 100px;
    }
  }
}

.designers__kula {
  height: 100%;
  width: 100%;
  min-height: 439px;
  position: relative;
  @include r(phone-max) {
    min-height: 239px;
  }
}

.designers__miskacz {
  height: 100%;
  width: 100%;
  min-height: 439px;
  position: relative;
  @include r(phone-max) {
    min-height: 239px;
  }
  p {
    margin-right: 20px;
  }
}

.kula__background {
  float: left;
  width: 60%;
  max-width: 200px;
}

.miskacz__background {
  float: right;
  width: 60%;
  max-width: 200px;
}

.kula__photo {
  position: absolute;
  background-image: url('../img/lis_kula.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% auto;
  min-width: 200px;
  min-height: 200px;
  left: 50px;
  top: 140px;
  @include r(phone-max) {
    top: 70px;
  }
  @include r(tablet-max) {
    min-width: 120px;
    min-height: 120px;
  }
}

.miskacz__photo {
  position: absolute;
  background-image: url('../img/miskacz.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% auto;
  min-width: 200px;
  min-height: 200px;
  right: 50px;
  top: 140px;
  @include r(phone-max) {
    top: 70px;
  }
  @include r(tablet-max) {
    min-width: 120px;
    min-height: 120px;
  }
}

.kula__copy,
.miskacz__copy {
  margin-top: 50%;
  @include r(phone-max) {
    margin-top: 10%;
  }
}

.kula__copy {
  margin-right: 10%;
  p,
  h3,
  .hr {
    margin-left: 20px;
  }
}

.miskacz__copy {
  margin-left: 10%;
  p, 
  h3,
  .hr {
    margin-right: 20px;
  }
}

footer {
  border-top: 1px solid $green;
  @include r(phone-max) {
    margin-top: 5%;
  }
  p {
    font-family: 'Raleway-Thin';
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 0;
  }
}
