.modal-choose-tshirt {
  background-image: url('../img/modal-background.png') !important;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover !important;
  min-height: 60%;
  max-width: 70% !important;
  min-width: 700px;
  padding: 100px 0;
  @include r(phone-max) {
    min-width: 720px;
    min-height: 80%;
    width: 60% !important;
    padding: 20px 40px;
    min-width: 310px;
    position: relative;
  }
  .uk-grid,
  .uk-width-medium-1-2 {
    height: inherit;
  }
}

.modal-padding {
  padding-left: 5%;
}

.button-close-tshirt {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  @include r(phone-max) {
    top: 20px;
    right: 20px;
  }
}

.t-shirt__white--modal {
  background-image: url('../img/tshirt.png') !important;
  background-repeat: no-repeat;
  background-position: center; 
  height: 400px;
  @include r(phone-max) {
    background-size: contain;
  }
}
.t-shirt__design--modal {
  background-repeat: no-repeat;
  background-position: center; 
  height: 120px;
  width: 120px;
  background-size: contain;
  position: relative;
  @include r(phone-max) {
    background-size: contain;
    max-width: 100px;
    max-height: 100px;
  }
}

.t-shirt__design--modal.spaghetti-code {
  background-image: url('../img/1.jpg') !important;
}

.t-shirt__design--modal.pizza-master {
  background-image: url('../img/3.jpg') !important;
}

.t-shirt__design--modal.deadlock {
  background-image: url('../img/5.jpg') !important;
}

.t-shirt__design--modal.problem-solver {
  background-image: url('../img/9.jpg') !important;
}

.t-shirt__design--modal.basic-human-needs {
  background-image: url('../img/11.jpg') !important;
}

.t-shirt__design--modal.programming-god {
  background-image: url('../img/6.jpg') !important;
}

.t-shirt__design--modal.play-safe {
  background-image: url('../img/10.jpg') !important;
}

.t-shirt__design--modal.front-back {
  background-image: url('../img/4.jpg') !important;
}

.t-shirt__design--modal.talk-to-me {
  background-image: url('../img/7.jpg') !important;
}

.t-shirt__design--modal.artful-coder {
  background-image: url('../img/12.jpg') !important;
}

.t-shirt__design--modal.coding-state {
  background-image: url('../img/2.jpg') !important;
}

.t-shirt__design--modal.codeholic {
  background-image: url('../img/8.jpg') !important;
}
 
.modal-form-container {
  @include r(phone-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-header {
    font-family: 'Raleway-Thin';
    font-size: 4rem;
    color: $grey;
    text-align: left;
    margin: 50px 30px 0 0;
    text-transform: initial;
    @include r(phone-max) {
      margin: 0;
    }
  }
}

.design-by {
  font-family: 'Raleway-Light';
  font-size: 1.3rem;
  color: $green;
  margin: 0;
}

.checkbox-container {
  padding: 0 18% 0 5%;
   @include r(phone-max) {
    padding-right: 9%;
  }
}

.tooltip {
  position: absolute;
  background-image: url('../img/question.svg');
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  top: 14px;
  left: 210px;
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  padding: 60px 20px;
  border: 2px solid $green;
  left: -250px;
  top: -145px;
  font-family: 'Raleway-Thin';
  font-size: 1.7rem;
  &:after {
    content: url('../img/tooltip.png');
    position: absolute;
    left: 240px;
    top: 148px;
  }
}

