html {
  font-size: 62.5% !important;
  @include r(tablet-max) {
    font-size:55% !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-size: 1.4rem !important;
}

$green: #78b251;
