@font-face {
  font-family: 'Raleway-Black';
  src: url('../fonts/Raleway-Black.eot');
  src: url('../fonts/Raleway-Black.woff2') format('woff2'),
       url('../fonts/Raleway-Black.woff') format('woff'),
       url('../fonts/Raleway-Black.ttf') format('truetype'),
       url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg'),
       url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('../fonts/Raleway-BlackItalic.eot');
  src: url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
       url('../fonts/Raleway-BlackItalic.woff') format('woff'),
       url('../fonts/Raleway-BlackItalic.ttf') format('truetype'),
       url('../fonts/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg'),
       url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway-Bold.ttf') format('truetype'),
       url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraBold.woff') format('woff'),
       url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
       url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('../fonts/Raleway-ExtraBoldItalic.eot');
  src: url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg'),
       url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway-Light.eot');
  src: url('../fonts/Raleway-Light.woff2') format('woff2'),
       url('../fonts/Raleway-Light.woff') format('woff'),
       url('../fonts/Raleway-Light.ttf') format('truetype'),
       url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg'),
       url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot');
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
       url('../fonts/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway-Medium.ttf') format('truetype'),
       url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('../fonts/Raleway-Thin.eot');
  src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
       url('../fonts/Raleway-Thin.woff') format('woff'),
       url('../fonts/Raleway-Thin.ttf') format('truetype'),
       url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg'),
       url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
