.modal-choose-tshirt {
  background-image: url('../img/modal-background.png') !important;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover !important;
  height: 70%;
  width: 80% !important;
  min-width: 320px;
  @include r(phone-max) {
    height: 80%;
    width: 60% !important;
    padding: 20px 40px;
  }
  .uk-grid,
  .uk-width-medium-1-2 {
    height: inherit;
  }
}

.t-shirts__button {
  .t-shirt__single {
    margin-top: 40px;
    .t-shirt__white--modal {
      background-image: url('../img/tshirt.png') !important;
      background-repeat: no-repeat;
      background-position: center; 
      height: 400px;
    }
    .t-shirt__design--modal {
      background-image: url('../img/3.jpg') !important;
      background-repeat: no-repeat;
      background-position: center; 
      height: 400px;
      height: 120px;
      width: 120px;
      background-size: contain;
      position: relative;
      .t-shirts__design {
        top: -86px;
        left: -145px;
        outline: none;
      }
    }
  }

  .modal-form-container {
    @include r(phone-max) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .modal-header {
    font-family: 'Raleway-Thin';
    font-size: 4rem;
    color: $grey;
    text-align: left;
    margin: 50px 0 0 0;
    text-transform: initial;
  }

  .design-by {
    font-family: 'Raleway-Light';
    font-size: 1.3rem;
    color: $green;
    margin: 0;
  }
}
